@using BookShop.Models.Entities
@{
   // List<Category> categories = ViewBag.Categories;
    List<Publisher> publishers = ViewBag.Publishers;
    List<Book> newBooks = ViewBag.NewBooks;
    List<Book> hotBooks = ViewBag.HotBooks;
    List<Book> homeBooks = ViewBag.HomeBooks;
    }
@section script{
    <link href="/CSS/Index.css" rel="stylesheet" type="text/css" />
    }


<div id="container">
	<!--left content-->
	<div id="intro">
    	<div id="basket"><a href="#">目前您的购物篮是空的</a></div>
        <div id="search">
        	<form action="" method="post" target="_blank">
            	<input type="text" id="keyword" class="search_key" />
                <input type="submit" id="s_submit" class="search_sub" value="" />
            </form>
        </div>
        <div id="alltype">
                <!--这里调用分部视图显示图书分类-->
               @{
                   //呈现 由action返回的分部视图
                   Html.RenderAction("showcategory", "commonview");
                   }

               <!--调用结束-->
            
        </div>
        <!--link start-->
        <div id="choice_pub">
        	<select name="publishs" id="publishs" class="n_select">
            	<option>>>根据出版社选择图书</option>
               @foreach(Publisher p in publishers){
               <option value="@p.Id">@p.Name</option>
               }
            </select>

        	<select name="publishs" id="special" class="n_select">
            	<option>>>根据专题选择图书</option>
                <option>国庆出游专题</option>
                <option>新年计划专题</option>
            </select>
        </div>
        
        <div id="s_b_03"><a href="#">赖世雄美语从头学</a><br /><a href="#">沪江团购 ，价格更优惠</a></div>
        <!--link start-->
    </div>
    
    <!--middle content-->
    <div id="content">
    	<div id="magic"><img src="/Images/a_b_02.jpg" alt="幻灯图片" width="480" height="200" /></div>
        <div id="a_b_02">
        	<a href="#">电子词典专柜上线</a>
            <a href="#">Lucy陪你说真人口语英语对译软件</a>
            <a href="#" class="red">哇~这东西真便宜，大家快来抢啊！</a>
        </div>
        <!--comment books start-->
        <div id="comment_book">
        	<ul>
                @foreach(Book book in homeBooks){
            	<li><a href="@string.Format("/books/detail?id={0}",book.Id)">
                    <img 
             src="@string.Format("/images/BookCovers/{0}.jpg",book.ISBN)" 
                        alt="@book.Title" /></a>
                    
                    <a 
                    href="@string.Format("/books/detail?id={0}",book.Id)">
                    @(book.Title.Length>15?book.Title.Substring(0,15)+"...":book.Title)</a>


            	</li>
                }

            </ul>
        </div>
        <!--comment books end-->
    </div>
    
    <!--sidebar content-->
    <div id="sidebar">
        <ul id="notice">
            <li><a href="#">国庆期间货物延期配送公告</a></li>
            <li><a href="#">英语高级口语资格考试</a></li>
            <li><a href="#">英语高级口语资格考试</a></li>
            <li><a href="#">英语高级口语资格考试</a></li>
      </ul>
        <div id="order_find">
        	<form action="" method="post" target="_blank">
           	  <label>订单号：</label><input type="text"  class="order_key" />
                <input type="submit"  class="order_sub" value="查询状态" />
            </form>
        </div>
        <div class="service">
        	<p><a href="#"><img src="/Images/QQ_01.gif" /></a>
                <a href="#"><img src="/Images/QQ_02.gif" /></a>
                <a href="#"><img src="/Images/QQ_02.gif" /></a></p>
            <p><a href="#"><img src="/Images/taobao_01.gif" /></a>
            	<a href="#"><img src="/Images/taobao_02.gif" /></a></p>
        </div>
        <!--hot books start-->
        <div class="sidedt hots">
        	<h1>新书排行</h1>
            <ul>
                @foreach(Book book in newBooks){
            	<li><a 
                    href="@string.Format("/books/detail?id={0}",book.Id)">
                    @(book.Title.Length>15?book.Title.Substring(0,15)+"...":book.Title)</a>

            	</li>
                }
            </ul>
        </div>
        <!--hot books end-->
        <!--laster books start-->
        <div class="sidedt laster">
        	<h1>热销排行</h1>
            <ul>
            	 @foreach(Book book in hotBooks){
            	<li><a 
                    href="@string.Format("/books/detail?id={0}",book.Id)">
                    @(book.Title.Length>15?book.Title.Substring(0,15)+"...":book.Title)</a>

            	</li>
                }
            </ul>
        </div>
        <!--laster books end-->
    </div>
</div>



